.body{
    display: flex;
    flex-direction: row;
    border-color: red;
    border-width: 2px;
}


.data{
    display: grid;
    border-color: black;
    border-width: 2px
}

.visuals{
    display: flex;
    background-color: greenyellow;
    border-color: black;
    border-width: 2px
}